@using UTS.ScheduleSystem.Data
@model Rule

@{ViewBag.Title = "Create";}
@using (Html.BeginForm())
{
    <br/>
    <div class="panel panel-default text-center">
        <div class="panel-heading">
            <h3 class="panel-title">Create new rule</h3>
        </div>
        <div class="panel-body">
            <table class="table text-center" width="300">
                <tr><td>@Html.LabelFor(x => x.Input, "Input")</td><td>@Html.TextBoxFor(x => x.Input, new { @maxlength = "15" })</td></tr>
                <tr><td>@Html.LabelFor(x => x.Output, "Output")</td><td>@Html.TextBoxFor(x => x.Output, new { @maxlength = "15" })</td></tr>
                <tr><td></td><td><input type="submit" value="Save" /> @Html.ActionLink("Cancel", "Index")</td></tr>
            </table>
            
            
            
        </div>
    </div>
}



