@using UTS.ScheduleSystem.Data
@using UTS.ScheduleSystem.DomainLogic
@{
    ViewBag.Title = "Index";
    var ApprovedConversationalRules = (List<ConversationalRule>)ViewBag.ApprovedConversationalRules;
    var ApprovedFixedConversationalRules = (List<FixedConversationalRule>)ViewBag.ApprovedFixedConversationalRules;
    var ApprovedRulesCount = ViewBag.approvedRulesCount;
    var RejectedRulesCount = ViewBag.rejectedRulesCount;
    var SuccessRate = ViewBag.successRate;
}
<h1>Approver Report</h1>
<span></span>
<span></span>
<p>Approved rules: 
    @ViewBag.ApprovedRulesCount
</p>
<p>
    Rejected rules:
    @ViewBag.RejectedRulesCount
</p>
<p>
    Success Rate:
    @ViewBag.SuccessRate
    %
</p>
<span></span>
<span></span>
@if (ApprovedConversationalRules.Count > 0)
{
    <h4>Approved Conversational Rules :</h4>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Id</th>
            <th>Input</th>
            <th>Output</th>
            <th>LastEditorId</th>
            <th>Status</th>
        </tr>

        @foreach (var conversationalRule in ApprovedConversationalRules)
        {
            <tr>
                <td>@conversationalRule.Id</td>
                <td>@conversationalRule.Input</td>
                <td>@conversationalRule.Output</td>
                <td>@Utils.FindLastEditorId(conversationalRule.RelatedUsersId)</td>
                <td>@conversationalRule.Status</td>
            </tr>
        }
    </table>
}
<span></span>
<span></span>
@if (ApprovedFixedConversationalRules.Count > 0)
{
    <h4>Approved FixedConversational Rules :</h4>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Id</th>
            <th>Input</th>
            <th>Output</th>
            <th>LastEditorId</th>
            <th>Status</th>
        </tr>

        @foreach (var fixedConversationalRule in ApprovedFixedConversationalRules)
        {
            <tr>
                <td>@fixedConversationalRule.Id</td>
                <td>@fixedConversationalRule.Input</td>
                <td>@fixedConversationalRule.Output</td>
                <td>@Utils.FindLastEditorId(fixedConversationalRule.RelatedUsersId)</td>
                <td>@fixedConversationalRule.Status</td>
            </tr>
        }
    </table>
}
<p>@Html.ActionLink("<<---Back", "Index")</p>


