@using UTS.ScheduleSystem.Data
@using UTS.ScheduleSystem.DomainLogic
@{
    ViewBag.Title = "Index";
    var ConversationalRules = (List<ConversationalRule>)ViewBag.ConversationalRules;
    var FixedConversationalRules = (List<FixedConversationalRule>)ViewBag.FixedConversationalRules;
}
<h1>Rules Dashboard</h1>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Rule ID</th>
        <th>Input</th>
        <th>Output</th>
        <th>LastEditor ID</th>
        <th>Status</th>
        <th>@Html.ActionLink("Approver Report", "ApproverReport")</th>
        <th>@Html.ActionLink("Editor Report", "EditorReport")</th>
    </tr>
    @if (ConversationalRules.Count > 0)
    {
        <tr><td colspan="7"><b>Conversational Rules</b></td></tr>

        foreach (var conversationalRule in (List<ConversationalRule>)ViewBag.ConversationalRules)
        {
            <tr>
                <td>@conversationalRule.Id</td>
                <td>@conversationalRule.Input</td>
                <td>@conversationalRule.Output</td>
                <td>@Utils.FindLastEditorId(conversationalRule.RelatedUsersId)</td>
                <td>@conversationalRule.Status</td>
                <td>@Html.ActionLink("Approve", "ApproveConversationalRule", new { id = conversationalRule.Id })</td>
                <td>@Html.ActionLink("Reject", "RejectConversationalRule", new { id = conversationalRule.Id })</td>
            </tr>
        }

    }


    @if (FixedConversationalRules.Count > 0)
    {
        <tr><td colspan="7"><b>Fixed Conversational Rules</b></td></tr>

        foreach (var fixedConversationalRule in (List<FixedConversationalRule>)ViewBag.FixedConversationalRules)
        {
            <tr>
                <td>@fixedConversationalRule.Id</td>
                <td>@fixedConversationalRule.Input</td>
                <td>@fixedConversationalRule.Output</td>
                <td>@Utils.FindLastEditorId(fixedConversationalRule.RelatedUsersId)</td>
                <td>@fixedConversationalRule.Status</td>
                <td>@Html.ActionLink("Approve", "ApproveFixedConversationalRule", new { id = fixedConversationalRule.Id })</td>
                <td>@Html.ActionLink("Reject", "RejectFixedConversationalRule", new { id = fixedConversationalRule.Id })</td>
            </tr>
        }

    }
</table>


