@using UTS.ScheduleSystem.Data
@using UTS.ScheduleSystem.MainLogic
@{
    ViewBag.Title = "Index";
    var ConversationalRules = (List<ConversationalRule>)ViewBag.ConversationalRules;
    var FixedConversationalRules = (List<FixedConversationalRule>)ViewBag.FixedConversationalRules;
}
<h1>Rules Dashboard</h1>
<h2></h2>
<h2></h2>
@if (ConversationalRules.Count > 0)
{
    <h4>Conversational Rules :</h4>
    <table>
        <tr>
            <th>Id</th>
            <th>Input</th>
            <th>Output</th>
            <th>LastEditorId</th>
            <th>Status</th>
        </tr>

        @foreach (var conversationalRule in (List<ConversationalRule>)ViewBag.ConversationalRules)
        {
            <tr>
                <td>@conversationalRule.Id</td>
                <td>@conversationalRule.Input</td>
                <td>@conversationalRule.Output</td>
                <td>@Utils.FindLastEditorId(conversationalRule.RelatedUsersId)</td>
                <td>@conversationalRule.Status</td>
                <td>@Html.ActionLink("Approve", "Approve", new { id = conversationalRule.Id })</td>
                <td>@Html.ActionLink("Reject", "Reject", new { id = conversationalRule.Id })</td>
            </tr>
        }
    </table>
}
<h2></h2>
<h2></h2>
@if (FixedConversationalRules.Count > 0)
{
    <h4>FixedConversational Rules :</h4>
    <table>
        <tr>
            <th>Id</th>
            <th>Input</th>
            <th>Output</th>
            <th>LastEditorId</th>
            <th>Status</th>
        </tr>

        @foreach (var fixedConversationalRule in (List<FixedConversationalRule>)ViewBag.FixedConversationalRules)
        {
            <tr>
                <td>@fixedConversationalRule.Id</td>
                <td>@fixedConversationalRule.Input</td>
                <td>@fixedConversationalRule.Output</td>
                <td>@Utils.FindLastEditorId(fixedConversationalRule.RelatedUsersId)</td>
                <td>@fixedConversationalRule.Status</td>
                <td>@Html.ActionLink("Approve", "Approve", new { id = fixedConversationalRule.Id })</td>
                <td>@Html.ActionLink("Reject", "Reject", new { id = fixedConversationalRule.Id })</td>
            </tr>
        }
    </table>
}


