@using UTS.ScheduleSystem.Data
@model MealSchedule
@{
    ViewBag.Title = "Delete";
    var onDeletingMealSchedule = ViewBag.OnDeletingMealSchedule;
}
<h1>Maintain Data</h1>
<h2>Are you sure you want to delete this?</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id)
<table>
    <tr><td>Topic</td><td>@onDeletingMealSchedule.Topic</td></tr>
    <tr><td>Participants</td><td>@onDeletingMealSchedule.Participants</td></tr>
    <tr><td>Location</td><td>@onDeletingMealSchedule.Location</td></tr>
    <tr><td>StartDate</td><td>@onDeletingMealSchedule.StartDate</td></tr>
    <tr><td>EndDate</td><td>@onDeletingMealSchedule.EndDate</td></tr>

</table>
    <input type="submit" value="Delete" />
    @Html.ActionLink("Cancel", "Index")
}